{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    {% if page.title %}
    {% set title = page.title ~ ' | ' ~ config.title %}
    {% else %}
    {% set title = config.title %}
    {% endif %}


    {% if page.extra.description %}
    {% set description = page.extra.description %}
    {% else %}
    {% set description = config.description %}
    {% endif %}

    <!-- SEO -->
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="twitter:url" content="{{ current_url }}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}" />
    <meta property="twitter:creator" content="@{{ config.extra.twitter }}" />

    {% if page.extra.seo_image %}
    <meta property="og:image" content="{{ page.extra.seo_image }}">
    <meta property="twitter:card" content="summary_large_card" />
    <meta property="twitter:image" content="{{ page.extra.seo_image }}">
    {% endif %}

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!--  css -->
    <link rel="stylesheet" href="{{ config.base_url }}/ergo.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="http://naps62.com/favicon.ico">

    <!-- fonts -->
    <!-- preload  -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,500,500i,600,700,800,900|Raleway" as="style">
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" as="style">
    <!-- load -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,500,500i,600,700,800,900|Raleway">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- canonical -->
    {% if page.extra.canonical %}
    <link rel="canonical" href="{{ page.extra.canonical }}" />
    {% endif %}
    {% endblock head %}
</head>

<body>
    {% block menu %}
    {{ macros::menu(title=config.title, siteurl=config.base_url, extra=config.extra, rss=config.generate_feed) }}
    {% endblock menu %}

    {% block content %} {% endblock content %}
    {% block pagination %} {% endblock pagination %}

    <footer>
        {% block footer %}
        {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
        {{ macros::social_list(classes="foot_list", bsize="extra_small", extra=config.extra, siteurl=config.base_url, rss=config.generate_feed) }}
        {% endblock footer %}
    </footer>

    {% if config.extra.goatcounter %}
    <script data-goatcounter="https://{{ config.extra.goatcounter }}.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {% endif %}
</body>

</html>
