{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<header class="header">
    {% block header %}
    <a href="{{config.base_url}}" class="home_link">
        <figure class="user_logo">
            <div style="background-image: url({{config.base_url}}/img/{{config.extra.profile}}"></div>
        </figure>
        <h1 class="site_title">{{config.title}}</h1>
    </a>
    <div>{{config.description | markdown(inline=true) | safe }}</div>
    {{ macros::social_list(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url, rss=config.generate_feed) }}
    {% endblock header %}
</header>

{% set posts = get_section(path="posts/_index.md") %}

<article class="post_list_item index_about">
    {{ section.content | safe }}
</article>

<section class="post_list">
    {% for page in posts.pages | slice(end=5) %}
    <article id="{{page.title}}" class="post_list_item">
        <h2 class="article_title">
            <a href="{{page.permalink}}" id="article_link">{{page.title}}</a>
        </h2>
        {% if page.date %}
        {{ macros::frontmatter(classes="", date=page.date, word_count=page.word_count, read_time=page.reading_time) }}
        {% else %}
        {{ macros::frontmatter(classes="", date="", word_count=page.word_count, read_time=page.reading_time) }}
        {% endif %}
        {% if page.summary %}
        <p class="article_content">{{ page.summary | safe }}</p>
        {% else %}
        <p class="article_content">{{ page.content | striptags | truncate | safe }}</p>
        {% endif %}
        <a class="button small" href="{{page.permalink}}">Continue Reading →</a>
    </article>
    {% endfor %}

    <article class="post_more">
        <span><a href="/posts">See all posts</a></span>
    </article>
</section>

{% endblock content %}
