{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<header class="header">
    {% block header %}
    <a href="{{config.base_url}}" class="home_link">
        <figure class="user_logo">
            <div style="background-image: url({{config.base_url}}/img/{{config.extra.profile}}"></div>
        </figure>
        <h1 class="site_title">{{config.title}}</h1>
    </a>
    <div>{{config.description | markdown(inline=true) | safe }}</div>
    {{ macros::social_list(classes="header_list", bsize="small", extra=config.extra, siteurl=config.base_url, rss=config.generate_feed) }}
    {% endblock header %}
</header>

<article class="regular_page_content {{ page.extra.class }}">
    {{ page.content | safe }}
</article>

{% endblock content %}
